.header h1 {
    position: absolute;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.header .h1 {
	margin-bottom: 125px;
}

.nav {
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
	text-align: center;
	/*padding-bottom: px;*/
}

.nav li {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    display: inline;
    padding-right: 1%;
    padding-left: 1%;
}

.nav li:hover {
	cursor: pointer;
	color: #A3FAFF;
	font-style: italic; 
}

.nav ul {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.header {
	margin-bottom: 25px;
}